/*
font-family: 'Allura', cursive;
font-family: 'Comfortaa', cursive;
*/

/*********************** 
COMMON 
************************/

:root {
    --font-family-logo: 'Allura', cursive;
    --font-family-main: 'Comfortaa', cursive;
    --color-light: #F2F2F2;
    --color-dark: #4E4E4E;
    --color-grey: #7B7B7B;
    --color-red: #A40000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-main);
    color: var(--color-dark);
}

a {
    text-decoration: none;
    color: var(--color-dark);
}



/*********************** 
Main page - start
************************/

body.bg {
    background-image: url("images/bg-main-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    min-height: 900px;
}


/* Left side - start */

body.bg nav {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    margin-right: 30px;
}

body.bg nav .nav-item {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border: 2px solid transparent;
    transition: all .2s ease-out;
}

body.bg nav a {
    color: var(--color-light);
    padding-left: 20px;
    line-height: 70px;
    width: 380px;
}

body.bg nav img {
    width: 85px;
    height: 85px;
    padding: 10px;
}

body.bg nav .nav-item:hover {
    border: 2px solid var(--color-red);
    transition: all .2s ease-out;
}

/* Left side - end */


/* Center side - start */

body.bg header {
    width: 350px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;}

body.bg header img {
    width: 100%;
    margin-bottom: 20px;
}

body.bg header button {
    width: 130px;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
    transition: all .2s ease-out;
}

body.bg header button.login {
    background-color: transparent;
    border: 1px solid var(--color-light);
    color: var(--color-light);
}

body.bg header button.register {
    border: none;
    background-color: var(--color-light);
    color: var(--color-dark);
}

body.bg header button:hover {
    cursor: pointer;
    border: 1px solid var(--color-red);
    color: var(--color-red);
    transition: all .2s ease-out;
}

/* Center side - end */


/* Right side - start */

body.bg .bg-picture-right {
    width: 40%;
}

/* Right side - end */

/*********************** 
Main page - end
************************/


/*********************** 
Other pages - start
************************/

/* Header - start */

body.common header {
    width: 100%;
    height: 80px;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: 20px;
    position: fixed;
    top: 0;
}

body.common header nav {
    display: flex;
    width: 150px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 150px;
    border: 1px solid transparent;
    transition: all .2s ease-out;
}

body.common header .burger {
    width: 25px;
    height: 25px;
    background-image: url(images/menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: none;
}

body.common header a {
    font-size: 20px;
    line-height: 80px;
}

body.common header h2 {
    font-family: var(--font-family-logo);
    font-size: 55px;
    color: var(--color-grey);
    word-spacing: 10px;
    font-weight: 400;
}

body.common header .auth {
    display: flex;
    height: 100%;
}

body.common header .auth a {
    display: flex;
    text-align: center;
    width: 150px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: all .2s ease-out;

}

body.common header nav:hover,
body.common header .auth a:hover {
    border: 1px solid var(--color-grey);
    transition: all .2s ease-out;
}

/* Header - end */


/* Main side - start */

body.common main {
    display: flex;
    justify-content: center;
}

body.common main h1 {
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 36px;
    text-align: center;
    position: fixed;
    top: 80px;
    background-color: #FFF;
}

body.common main .dishes {
    width: 1280px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Main side - end */


/*********************** 
Other pages - end
************************/